.alert {
  border: 1px solid;
  border-radius: 4px;
  padding: 12px;
  position: relative;
}

.alert-success {
  background-color: var(--success);
  color: var(--success-dark);
  border-color: var(--success-dark);
}

.alert-warning {
  background-color: var(--warning);
  color: var(--warning-dark);
  border-color: var(--warning-dark);
}

.alert-danger {
  background-color: var(--danger);
  color: var(--danger-dark);
  border-color: var(--danger-dark);
}

.alert-message-with-close {
  width: calc(100% - 28px);
}
