.button-container {
  position: relative;
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
  border: 4px transparent solid;
  background-clip: padding-box;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.button-disabled {
  background-color: var(--primary-disabled);
}

.button-container:active {
  background-color: var(--primary-dark);
  border-color: hsla(204, 100%, 50%, 0.2);
}

.button-size-small {
  width: 100px;
  height: 30px;
  font-size: 0.83em;
}

.button-size-medium {
  width: 120px;
  height: 36px;
  font-size: 1em;
}

.button-size-large {
  width: 144px;
  height: 42px;
  font-size: 1.2em;
}

/* Loader */

.loader-size-small::before,
.loader-size-small::after {
  content: "";
  width: 8px;
  height: 8px;
  margin: 4px;
  border: 2px solid var(--primary);
}

.loader-size-medium::before,
.loader-size-medium::after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 4px;
  border: 2px solid var(--primary);
}

.loader-size-large::before,
.loader-size-large::after {
  content: "";
  width: 20px;
  height: 20px;
  margin: 4px;
  border: 2px solid transparent;
}

.loader-size-small::before,
.loader-size-medium::before,
.loader-size-large::before {
  border-radius: 50%;
  border-top: 2px solid white;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
