.button-container {
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
  border: 4px transparent solid;
  background-clip: padding-box;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.button-container:active {
  background-color: var(--primary-dark);
  border-color: hsla(204, 100%, 50%, 0.2);
}

.button-size-small {
  width: 100px;
  height: 30px;
  font-size: 0.83em;
}

.button-size-medium {
  width: 120px;
  height: 36px;
  font-size: 1em;
}
.button-size-large {
  width: 144px;
  height: 42px;
  font-size: 1.2em;
}
