/* Loader */

.loading-indicator {
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 4px;
  border: 2px solid transparent;
}

.loader-small {
  width: 8px;
  height: 8px;
}

.loader-medium {
  width: 14px;
  height: 14px;
}

.loader-large {
  width: 20px;
  height: 20px;
}

.loader-xlarge {
  width: 64px;
  height: 64px;
  border-width: 4px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
