.signup-container {
  background-image: url("../assets/signup-page-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.signup-card-container {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
