.tab-bar-option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10pt;
  color: white;
  user-select: none;
  cursor: pointer;
}

.tab-bar-icon {
  width: 32px;
  height: 32px;
}

.tab-bar-option:hover {
  background-color: var(--primary-dark);
}

.tab-bar-option:active {
  background-color: var(--primary-darkest);
}

.tab-bar-selected-option {
  background-color: var(--primary-dark);
}

.tab-bar-selected-option:active {
  background-color: var(--primary-darkest);
}
