.timeline-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-container {
  color: var(--primary-disabled);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  font-size: 20pt;
}

.not-found-icon {
  width: 128px;
  height: 128px;
}

.no-more-posts {
  font-style: italic;
  color: var(--text-secondary);
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16pt;
}
