.user-information-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20pt;
}

.user-display-name {
  height: 24px;
}

.workout-information {
  margin: 16px 0;
}

.workout-information div {
  margin-bottom: 8px;
}

.workout-title {
  font-size: 24pt;
}

.workout-description {
  color: var(--text-secondary);
  font-size: 16pt;
}

.exercise-count {
  color: var(--text-secondary);
  font-size: 12pt;
}
