.user-information-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20pt;
}

.user-display-name {
  height: 24px;
}

.workout-title {
  font-size: 24pt;
}

.workout-description {
  color: var(--text-secondary);
  font-size: 16pt;
}

.exercise-count {
  color: var(--text-secondary);
  font-size: 12pt;
}

.more-info-button-container {
  text-align: center;
}
