:root {
  --primary: hsl(204, 100%, 50%);
  --primary-dark: hsl(204, 100%, 45%);
  --primary-disabled: hsl(204, 0%, 62%);

  --success: hsl(134, 41%, 88%);
  --success-dark: hsl(134, 61%, 21%);

  --warning: hsl(46, 100%, 90%);
  --warning-dark: hsl(45, 94%, 27%);

  --danger: hsl(355, 100%, 93%);
  --danger-dark: hsl(354, 61%, 28%);

  --card-colour: hsl(0, 0%, 29%);
  --background-color: hsl(0, 0%, 20%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
