.headerContainer {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  z-index: 3;
  top: 0;
}

.headerTrailingItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
