.loginContainer {
  background-image: url("/person-deadlifting.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.loginCardContainer {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
